* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.carForm {
    display: flex;
    padding: 20px;
    background-color: red;
    color: white;
    font-weight: 900;
}

form label {
    padding: 10px;
    text-wrap: nowrap;
}