html {
  border: 2px solid blue;
  height: 100%;
}
body {
  /* background-color: red; */
  border: 2px solid red;
  height: 100%;
  margin: 0px;
}

.container {
  border: 1px solid green;
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.box {
  width: 50px;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px solid purple; */
}
.item {
  /* background-color: pink; */
  flex-grow: 1;
}
.item_big {
    text-align: right;
  /* background-color: red; */
  flex-grow: 3;
}
