* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  scroll-behavior: smooth;
}
body {
  /* background-image: url("/images/BSDClogo.jpg"); */
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  /* border: red 5px solid; */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.group-container {
  /* border: red 5px solid; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  box-sizing: border-box;
  align-items: flex-start;
}

.group-container img {
  width: 100%;
  height: min-content;
  border: rgb(227, 222, 200) solid 2px;
}
.students {
  /* border: green 2px solid; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: stretch;
  justify-content: stretch;
  background-color: rgb(88, 20, 38);
}

.tlevel {
  background-color: rgb(91, 141, 193);
}

.thelads {
  background-color: rgb(255, 0, 51);
}

.appdev1 {
  background-color: rgb(255, 170, 0);
}

.appdev2 {
  background-color: rgb(71, 129, 0);
}

.button {
  font-size: 26px;
  margin: 0px;
  flex-grow: 1;
  text-align: center;
  border: rgb(227, 222, 200) solid 2px;
  padding: 3px 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonText {
  padding-bottom: 2px;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  flex-grow: 1;
}

a:hover  {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    display: flex;
  }

  .group-container {
    width: 100%;
  }

  .button {
    font-size: 36px;
    /* line-height: 24px; */
  }

  a:focus {
    color: blue;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    /* background-color: green;  */
  }
  .group-container {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    /* background-color: blue;   */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    /* background-color: orange; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    /* background-color: pink; */
  }
}
